@charset "UTF-8";
/* general */
h1 {
  font-size: 30px;
  font-weight: bold;
}

.padding-section {
  padding: 25px;
  border: solid 2px rgba(109, 109, 107, 0.1254901961);
  margin-top: 30px;
  border-radius: 5px;
}
.padding-section h2 {
  font-size: 20px;
  color: #64a464;
}
.padding-section h3 {
  font-size: 20px;
}

span {
  color: #64a464;
}

.fondito-div {
  background-image: radial-gradient(rgba(109, 109, 107, 0.1254901961), white);
}

.img-pos-inmueble {
  display: flex;
}

/* header */
.nav-bar {
  background-color: #212529;
  position: sticky;
  top: 0;
  z-index: 10;
}

.edicion-logo {
  font-weight: bold;
  font-size: 28px;
  color: white;
  padding-left: 30px;
}
.edicion-logo:hover {
  color: white;
}

.nav-bar-edicion {
  color: white;
  padding: 5px;
}
.nav-bar-edicion:hover {
  color: black;
  background-color: white;
}

.nav-btn {
  background-color: white;
}

/* inicio */
.fondo-inicio-img {
  background-image: url("../img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.fondo-inicio-img strong {
  font-size: 20px;
}

.div-inmueble-reciente {
  display: flex;
  justify-content: space-between;
  background-size: cover;
}

/* inmuebles */
.inmuebles-fondo {
  background-color: rgba(0, 0, 0, 0.648);
  padding: 58px;
}

.fondo-inmuebles-img {
  background-image: url("../img/bloques/inmuebles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ordenar-por {
  padding: 5px;
  border-radius: 4px;
}

.page-link {
  color: black;
}

.btn-bg {
  --bs-btn-bg: #64a464;
}

.pagination {
  --bs-pagination-color: #64a464;
  --bs-pagination-hover-color: #64a464;
  --bs-pagination-focus-color: #64a464;
  --bs-pagination-active-bg: #64a464;
  --bs-pagination-active-border-color: #64a464 !important;
}

/* info - inmuebles */
.offcanvas-header strong {
  font-size: 22px;
}

.imgCarousel {
  height: 600px;
  object-fit: cover;
}

.descripcion {
  grid-area: descripcion;
}
.descripcion h1 {
  font-size: 24px;
}

.botones {
  grid-area: botones;
}

.ofrece {
  grid-area: ofrece;
}
.ofrece h2 {
  color: #212529;
}

.div-hover {
  transition: 0.75s all ease-in-out;
}
.div-hover:hover {
  transform: scale(0.9);
}

.datos {
  grid-area: datos;
}
.datos h2 {
  color: #212529;
}

.plano-mapa {
  grid-area: plano-mapa;
}
.plano-mapa h2 {
  color: #212529;
}

/* quienes somos */
.fondo-nosotros-img {
  background-image: url("../img/bloques/nosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nosotros-fondo {
  background-color: rgba(0, 0, 0, 0.648);
  padding: 58px;
}

.historia {
  border-radius: 35px;
  width: 400px;
}

.separacion {
  padding-right: 20px;
}

.color-preg {
  background-color: #64a464;
  color: white;
  border-radius: 5px;
  margin-left: -9px;
}
.color-preg h2 {
  font-size: 20px;
}

.color-resp {
  background-color: #f3f0ef;
  border-radius: 15px;
  transition: 0.75s all ease-in-out;
  margin-left: -5px;
  display: inline-block;
}
.color-resp:hover {
  transform: scale(0.9);
}

.img-personal {
  width: 250px;
  border: 1px solid rgba(109, 109, 107, 0.1254901961);
}

.personal-hover {
  transition: 0.75s all ease-in-out;
}
.personal-hover:hover {
  transform: scale(0.9);
}

.img-testimonio {
  background-size: cover;
  height: 470px;
  object-fit: cover;
}

.cambio-letra {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.911);
  padding: 10px;
}

/* contacto */
.fondo-contacto-img {
  background-image: url("../img/bloques/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto-fondo {
  background-color: rgba(0, 0, 0, 0.648);
  padding: 58px;
}

.img-contacto {
  width: 100%;
}

.bg-color {
  background-color: #f3f0ef;
}

.form-check-input:checked {
  background-color: #64a464;
  border-color: #64a464;
}

/* footer */
.nav-icono {
  color: black;
}
.nav-icono:hover {
  color: rgba(0, 0, 0, 0.648);
}

.fondo-footer {
  background-color: rgba(109, 109, 107, 0.1254901961);
}

.logo {
  grid-area: logo;
}
.logo small {
  color: rgba(0, 0, 0, 0.764);
  font-weight: 100;
  font-size: 18px;
  font-weight: bold;
}

.navegacion {
  grid-area: navegacion;
}
.navegacion small {
  color: rgba(0, 0, 0, 0.764);
  font-weight: 100;
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.redes {
  grid-area: redes;
}
.redes small {
  color: rgba(0, 0, 0, 0.764);
  font-weight: 100;
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* media queries */
/*vista móvil */
@media (max-width: 600px) {
  .inicio-fondo {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 40px;
  }
  .info {
    display: grid;
    gap: 20px;
    grid-template-areas: "descripcion" "botones" "ofrece" "datos" "plano-mapa";
  }
  .mobile-btn {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 575px) {
  .pad-ubi {
    padding-top: 50px;
  }
}
/* vista tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .inicio-fondo {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 138px;
  }
  .info {
    display: grid;
    gap: 20px;
    grid-template-areas: "descripcion botones" "ofrece ofrece" "datos datos" "plano-mapa plano-mapa";
  }
  .mobile-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .mobile-btn-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
@media (min-width: 992px) {
  .mobile-btn {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  .mobile-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 575px) {
  .grid-footer {
    display: grid;
    gap: 40px;
    grid-template-areas: "logo" "navegacion" "redes";
  }
  .color-preg {
    margin-left: 0px;
  }
  .color-resp {
    margin-left: 0px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .img-personal {
    width: 160px;
    border: 1px solid rgba(109, 109, 107, 0.1254901961);
  }
}
/* vista desk */
@media (min-width: 901px) {
  .inicio-fondo {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 188px;
  }
  .info {
    display: grid;
    gap: 20px;
    grid-template-areas: "descripcion botones" "ofrece ofrece" "datos datos" "plano-mapa plano-mapa";
  }
}
@media (min-width: 992px) {
  .mobile-btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .posicion {
    display: flex;
    justify-content: space-around;
  }
  .posicion ul {
    gap: 40px;
  }
}
@media (max-width: 991px) {
  .posicion li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=estilo.css.map */
