@charset "UTF-8";
/* general */
.cambio-color {
  color: #64a464;
}

.padding-section {
  padding: 25px;
  border: solid 2px rgba(109, 109, 107, 0.1254901961);
  margin-top: 30px;
  border-radius: 5px;
}

span {
  color: #64a464;
}

/* header */
.nav-bar {
  background-color: #212529;
  position: sticky;
  top: 0;
  z-index: 10;
}

.h1-edicion-logo {
  font-weight: bold;
  font-size: 28px;
  color: white;
  padding-left: 30px;
}

.nav-bar-edicion {
  color: white;
  padding: 5px;
}
.nav-bar-edicion:hover {
  color: black;
  background-color: white;
}

.nav-btn {
  background-color: white;
}

/* inicio */
.fondo-inicio-img {
  background-image: url("../img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.div-inmueble-reciente {
  display: flex;
  justify-content: space-between;
  background-size: cover;
}

/* inmuebles */
.inmuebles-fondo {
  background-color: rgba(0, 0, 0, 0.648);
  padding: 58px;
}

.fondo-inmuebles-img {
  background-image: url("../img/bloques/inmuebles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ordenar-por {
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}

.page-link {
  color: black;
}

.pagination {
  --bs-pagination-color: #64a464;
  --bs-pagination-hover-color: #64a464;
  --bs-pagination-focus-color: #64a464;
  --bs-pagination-active-bg: #64a464;
  --bs-pagination-active-border-color: #64a464 !important;
}

/* info - inmuebles */
.imgCarousel {
  height: 520px;
  object-fit: cover;
}

.descripcion {
  grid-area: descripcion;
}

.botones {
  grid-area: botones;
}

.ofrece {
  grid-area: ofrece;
}

.datos {
  grid-area: datos;
}

.plano-mapa {
  grid-area: plano-mapa;
}

/* quienes somos */
.fondo-nosotros-img {
  background-image: url("../img/bloques/nosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nosotros-fondo {
  background-color: rgba(0, 0, 0, 0.648);
  padding: 58px;
}

.historia {
  border-radius: 35px;
  width: 400px;
}

.separacion {
  padding-right: 20px;
}

.color-preg {
  background-color: #64a464;
  color: white;
  margin: auto;
  border-radius: 5px;
}

.color-resp {
  background-color: #f3f0ef;
  border-radius: 15px;
  transition: 0.75s all ease-in-out;
}
.color-resp:hover {
  transform: scale(0.9);
}

.img-personal {
  width: 250px;
}

.personal-hover {
  transition: 0.75s all ease-in-out;
}
.personal-hover:hover {
  transform: scale(0.9);
}

.img-testimonio {
  background-size: cover;
  height: 420px;
  object-fit: cover;
}

.cambio-letra {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.82);
  padding: 10px;
}

/* contacto */
.fondo-contacto-img {
  background-image: url("../img/bloques/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacto-fondo {
  background-color: rgba(0, 0, 0, 0.648);
  padding: 58px;
}

.img-contacto {
  width: 100%;
}

.bg-color {
  background-color: #f3f0ef;
}

/* footer */
.padding-div {
  padding: 20px;
}

.nav-item {
  padding-left: 30px;
}

.nav-icono {
  color: black;
  padding-right: 2px;
}

.fondo-footer {
  background-color: rgba(109, 109, 107, 0.1254901961);
}

/* media queries */
/*vista móvil */
@media (max-width: 600px) {
  .ul-espacio {
    padding-left: 100px;
  }
  .inicio-fondo {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 40px;
  }
  .info {
    display: grid;
    gap: 20px;
    grid-template-areas: "descripcion" "botones" "ofrece" "datos" "plano-mapa";
  }
}
@media (max-width: 575px) {
  .pad-ubi {
    padding-top: 50px;
  }
}
/* vista tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .ul-espacio {
    padding-left: 220px;
  }
  .inicio-fondo {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 138px;
  }
  .info {
    display: grid;
    gap: 20px;
    grid-template-areas: "descripcion botones" "ofrece ofrece" "datos datos" "plano-mapa plano-mapa";
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .pos-logo {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 351px) and (max-width: 767px) {
  .img-pos-inmueble {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .img-pos-inmueble {
    display: flex;
  }
}
@media (min-width: 768px) {
  .img-pos-inmueble {
    display: flex;
  }
}
/* vista desk */
@media (min-width: 901px) {
  .ul-espacio {
    padding-left: 90px;
  }
  .inicio-fondo {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 188px;
  }
  .info {
    display: grid;
    gap: 20px;
    grid-template-areas: "descripcion botones" "ofrece ofrece" "datos datos" "plano-mapa plano-mapa";
  }
}

/*# sourceMappingURL=estilo.css.map */
