/* footer */

.nav-icono {
	color: $color-black;
	padding-right: 2px;
}
.fondo-footer {
	background-color: $color-cuaternario;
}
.logo {
	grid-area: logo;
}
.navegacion {
	grid-area: navegacion;
}
.redes {
	grid-area: redes;
}