/* footer */

@mixin small-f {
	color: $color-inicio-trasp;
	font-weight: 100;
	font-size: 18px;
	font-weight: bold;
}
.nav-icono {
	color: $color-black;

	&:hover {
		color: $color-bloque-trasp;
	}
}
.fondo-footer {
	background-color: $color-cuaternario;
}
.logo {
	grid-area: logo;

	small {
		@include small-f;
	}
}
.navegacion {
	grid-area: navegacion;

	small {
		@include small-f;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
.redes {
	grid-area: redes;

	small {
		@include small-f;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}