/* general */

.cambio-color {
	color: $color-secundario;
}
.padding-section {
	padding: 25px;
	border: solid 2px $color-cuaternario;
	margin-top: 30px;
	border-radius: 5px;
}
span {
	color: $color-secundario;
}