/* header */

.nav-bar {
	background-color: $color-primario;
	position: sticky;
	top: 0;
	z-index: 10;
}
.edicion-logo {
	font-weight: bold;
	font-size: 28px;
	color: $color-white;
	padding-left: 30px;
	&:hover {
		color: $color-white;
	}
}
.espacio {
	padding-left: 110px;
}
.nav-bar-edicion {
	color: $color-white;
	padding: 5px;
	&:hover {
		color: $color-black;
		background-color: $color-white;
	}
}
.nav-btn {
	background-color: $color-white;
}