/* media queries */

/*vista móvil */
@media (max-width: 600px) {
	.ul-espacio {
		padding-left: 100px;
	}
	.inicio-fondo {
		background-color: $color-inicio-trasp;
		padding: 40px;
	}
	.info {
		display: grid;
		gap: 20px;
		grid-template-areas: 
        "descripcion" 
        "botones" 
        "ofrece" 
        "datos" 
        "plano-mapa";
	}
	.mobile-btn {
		display: flex;
		gap: 10px;
	}
}
@media (max-width: 575px) {
	.pad-ubi {
		padding-top: 50px;
	}
}

/* vista tablet */
@media (min-width: 601px) and (max-width: 900px) {
	.ul-espacio {
		padding-left: 50px;
	}
	.inicio-fondo {
		background-color: $color-inicio-trasp;
		padding: 138px;
	}
	.info {
		display: grid;
		gap: 20px;
		grid-template-areas: 
        "descripcion botones" 
        "ofrece ofrece" 
        "datos datos" 
        "plano-mapa plano-mapa";
	}
	.mobile-btn {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
@media (max-width: 767px) {
	.mobile-btn-2 {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}
@media (min-width: 992px) {
	.mobile-btn {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}
@media (min-width: 600px) and (max-width: 991px) {
	.mobile-btn {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
@media (max-width: 575px) {
	.grid-footer {
		display: grid;
		gap: 40px;
		grid-template-areas: 
        "logo" 
        "navegacion" 
        "redes";
	}
	.color-preg {
		margin-left: 0px;
	}
	.color-resp {
		margin-left: 0px;
	}
}

/* vista desk */
@media (min-width: 901px) {
	.ul-espacio {
		padding-left: 50px;
	}
	.inicio-fondo {
		background-color: $color-inicio-trasp;
		padding: 188px;
	}
	.info {
		display: grid;
		gap: 20px;
		grid-template-areas: 
        "descripcion botones" 
        "ofrece ofrece" 
        "datos datos" 
        "plano-mapa plano-mapa";
	}
	.espacio {
		padding-left: 110px;
	}
}
@media (min-width: 992px) {
	.mobile-btn {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
}