/* inicio */

.fondo-inicio-img {
	background-image: url("../img/inicio.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.div-inmueble-reciente {
	display: flex;
	justify-content: space-between;
	background-size: cover;
}