/* contacto */

.fondo-contacto-img {
	background-image: url("../img/bloques/contacto.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.contacto-fondo {
	background-color: $color-bloque-trasp;
	padding: 58px;
}
.img-contacto {
	width: 100%;
}
.bg-color {
	background-color: $color-terciario;
}
.fondo-form {
	background-color:rgb(223, 220, 220);
}
.form-check-input:checked {
    background-color: $color-secundario;
    border-color: $color-secundario;
}