$color-primario: #212529;
$color-secundario: #64a464;
$color-terciario: #f3f0ef;
$color-cuaternario: #6d6d6b20;

$color-white: white;
$color-black: black;

$color-inicio-trasp: rgba(0, 0, 0, 0.764);
$color-bloque-trasp: rgba(0, 0, 0, 0.648);

$color-testimonio: rgba(255, 255, 255, 0.911);